<% provide(:title, "About") %>
<div class="jumbotron">
	<h1>StaticPages#contact</h1>
	<p>Find me in app/views/static_pages/contact.html.erb</p>
	<center>
		<%= link_to "Test", '#', class: 'btn btn-danger btn-lg' %>
	</center>
</div>