<% provide(:title, "Help") %>
<div class="jumbotron">
	<h1>StaticPages#help</h1>
	<p>Find me in app/views/static_pages/help.html.erb</p>
	<center>
		<%= link_to "Test", '#', class: 'btn btn-danger btn-lg' %>
	</center>
</div>
