<h1>Chernomor Yegor</h1>
<p>Find me in https://github.com/ChernomorYegor</p>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><a href="/static_pages/email?id=<%=user.id%>">Link on Email</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
